.App {
  text-align: center;
  padding: 15px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
}
body{
  background-color: #4a148c;
  padding: 150px
}

input{
  padding: 8px;
  width: 70%;
}
.addNew{
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
  justify-content: center;
}
.todo{
  display: flex;
  align-items: center;
  background-color: blue;
  border-radius: 5px;
  color: white;
  justify-content: space-around;
  margin-top: 10px;
}
.todo:hover{
  transition: 1s;
  padding: 10px 0;
  box-shadow: 5px 5px 10px rgba(137, 43, 226, 0.671);
}
.todos{
  max-height: 300px; 
  overflow-y: auto;
  margin-top: 20px;
  border: 2px solid blue;
  border-radius: 5px;
  padding: 5px;
}
.todo button:not(.todo button:last-child){background-color: white; margin-right: 2px;}
@media (max-width : 650px){
  .App {
    width: 85vw;
    /*margin: 10px 50px 10px auto  !important;*/
  }
  body{
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
